# API Backend
NEXT_PUBLIC_API_URL=http://localhost:8000/api/v1

# Mapa (Santiago de los Caballeros, RD)
NEXT_PUBLIC_MAP_CENTER_LAT=19.4517
NEXT_PUBLIC_MAP_CENTER_LNG=-70.6970
NEXT_PUBLIC_MAP_DEFAULT_ZOOM=13

# Auth
NEXT_PUBLIC_APP_NAME=SIRCCD
NEXT_PUBLIC_APP_VERSION=0.1.0
